@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: #e5e2dd;
	--background: #1e1a1d;
	--max-width: 1440px;

	--card-bg: #262428;
	--card-border: #2f3136;

	--hover: #000000;

	--divider: #d9d9d9;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	max-width: var(--max-width);
	margin: 0 auto;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
